/* ESERCIZIO 1 */

.ex-1-square {
    transition: background-color 1s;
}

.ex-1-square:hover {
    background-color: rgba(255, 0, 0, 1);
}

/* ESERCIZIO 2 */

.ex-2-square {
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* ESERCIZIO 3 */

.ex-3-square {
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4 */

.ex-4-square {
    transition: background-color 1s;
}

.ex-4-square:hover {
    background-color: rgba(255, 0, 0, 0);
}

/* ESERCIZIO 5 */

.ex-5-square {
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* ESERCIZIO 6 */

.ex-6-img:hover {
    filter: grayscale(1);
}

/* ESERCIZIO 7 */

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: grayscale(0.5);
    filter: sepia(0.5);
}

/* ESERCIZIO 8 */

.ex-8-img {
    transition: filter 2s, border-radius 2s;
}

.ex-8-img:hover {
    filter: grayscale(1);
    filter: sepia(0.5);
    border-radius: 20px;
}

/* ESERCIZIO 9 */

.ex-9-img {
    transition: transform 2s, filter 2s, border-radius 2s;
}

.ex-9-img:hover {
    transform: scale(1.5);
    filter: grayscale(1);
    filter: sepia(0.5);
    border-radius: 20px;
}

/* ESERCIZIO 10 */

.ex-10-icon {
    animation: charge 1s infinite reverse linear;
}

@keyframes charge {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ESERCIZIO 11 */

.ex-11-icon:hover {
    animation: semi-charge 2s cubic-bezier(1,.93,.41,1);
}

@keyframes semi-charge {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* ESERCIZIO 12 */

.ex-12-button:hover .ex-12-top-white {
    animation: mouve-left 1s 2 alternate;
}

@keyframes mouve-left {
    from {
        left: 10%;
    }
    to {
        left: calc(100% - 60px);
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: mouve-right 1s 2 alternate;
}

@keyframes mouve-right {
    from {
        right: 20%;
    }
    to {
        right: calc(100% - 60px);
    }
}

/* ESERCIZIO 13 */

.ex-13-button:hover .ex-13-top-white {
    animation: rotate-left 2s linear;
}

@keyframes rotate-left {
    0% {
        top: -10px;
        left: 10%;
    }
    20% {
        top: -10px;
        left: calc(100% - 30px);
    }
    40% {
        top: 100%;
        left: calc(100% - 30px);
    }
    60% {
        top: 100%;
        left: -15px;
    }
    80% {
        top: -10px;
        left: -15px;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: rotate-right 2s linear;
}

@keyframes rotate-right {
    0% {
        bottom: -10px;
        right: 20%;
    }
    20% {
        bottom: -10px;
        right: calc(100% - 40px);
    }
    40% {
        bottom: 100%;
        right: calc(100% - 40px);
    }
    60% {
        bottom: 100%;
        right: -15px;
    }
    80% {
        bottom: -10px;
        right: -15px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}